<h3>Answer</h3>
<div class= "question_card">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%=@study.answer%></h3>
           <% if @study.img? %>
             <p>
              <%= image_tag @study.img_url(:thumb) %>
             </p>
           <% end %>
      </div>
    </div>
</div>
<div class= "answer_button">
    <%= link_to 'NEXT QESTION', root_path, class: "btn btn-info" %>
</div>