.link-to {
  text-decoration: none;
  color: black;
}

.category_list_card {
  text-align: right; 
  font-size: 14px; 
}

.question_display {
  margin: 55px 0px;
}

.answer_button{
  padding-bottom: 30px;
}